<div class="row search">  
  <div class="col-md-6 vcenter nopadright">
   <input class="form-control" placeholder="Search" ng-model="query">
  </div>
  <div class="col-md-1 vcenter nopadleft">
    <span class="glyphicon glyphicon-search"></span>
  </div>
</div>
<div class="item" ng-repeat="book in books | filter:query | orderBy:orderProp">
  <div class="bookimg">
    <img ng-src="{{book.src}}">
  </div>
  <dl>
    <dt class="pname">
      <span ng-bind-html="highlight(book.Name, query)"></span>
    </dt>
    <dd>
      <div class="pname"><span ng-bind-html="highlight(book.Description, query)"></span></div>
      <div class="pname"><i>Price:</i> <span ng-bind-html="highlight(book.Price, query)"></span></div>
      <div class="btn-group bookbtn" role="group" aria-label="...">
        <button type="button" class="btn btn-info">Add Cart</button>
        <button type="button" class="btn btn-success">Buy</button>        
      </div>
    </dd>
  </dl>
  <div class="clearfix"></div>
</div>
