<div class="row search">  
  <div class="col-md-4 vcenter nopadright">
   <input class="form-control" placeholder="Search" ng-model="query">
  </div>
  <div class="col-md-1 vcenter nopadleft">
    <span class="glyphicon glyphicon-search"></span>
  </div>
  <div class="col-md-2 vcenter nopadleft nopadright"></div>
  <div class="col-md-2 vcenter nopadright">
    <span>Sort by:</span>
  </div>
  <div class="col-md-2 vcenter nopadleft">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">{{orderProp}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="" ng-click="setSortOrder('Id')">Id</a></li>
        <li><a href="" ng-click="setSortOrder('Name')">Name</a></li>
        <li><a href="" ng-click="setSortOrder('Price')">Price</a></li>           
      </ul>
    </div>
  </div>
</div>
<div>
  <ul class="pagination bookbtn">
    <li>
      <a href="" aria-label="Previous" ng-click="searchPaginator.previous()" ng-show="searchPaginator.hasPrevious()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="n in [] | range:pageCount">
      <a href="" ng-click="searchPaginator.locatePage(n)">{{n}}</a>
    </li>
    <li>
      <a href="" aria-label="Next" ng-click="searchPaginator.next()" ng-show="searchPaginator.hasNext()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
<div class="clearfix"></div>
<div class="item" ng-repeat="book in searchPaginator.currentPageItems | filter:query | orderBy:orderProp">
  <div class="bookimg">
    <img ng-src="{{book.src}}">
  </div>
  <dl>
    <dt class="pname">
      <span ng-bind-html="highlight(book.Name, query)"></span>
    </dt>
    <dd>
      <div class="pname"><i>Id:</i><span ng-bind-html="highlight(book.Id, query)"></span></div>
      <div class="pname"><i>Description:</i><span ng-bind-html="highlight(book.Description, query)"></span></div>
      <div class="pname"><i>Price:</i> <span ng-bind-html="highlight(book.Price, query)"></span></div>
      <div class="btn-group bookbtn" role="group" aria-label="...">
        <button type="button" class="btn btn-info" ng-click="edit(book.Id)">Edit</button>
        <button type="button" class="btn btn-success">Buy</button>        
      </div>
    </dd>
  </dl>
  <div class="clearfix"></div>
</div>
<div>
  <ul class="pagination bookbtn">
    <li>
      <a href="" aria-label="Previous" ng-click="searchPaginator.previous()" ng-show="searchPaginator.hasPrevious()">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-repeat="n in [] | range:pageCount">
      <a href="" ng-click="searchPaginator.locatePage(n)">{{n}}</a>
    </li>
    <li>
      <a href="" aria-label="Next" ng-click="searchPaginator.next()" ng-show="searchPaginator.hasNext()">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>
