<div class="row search">
  <div class="col-md-1 vcenter">
    <p>Search</p>
  </div>
  <div class="col-md-6 vcenter">
   <input class="form-control" placeholder="Book Name" ng-model="query">
  </div>
</div>
<div class="item" ng-repeat="book in books | filter:query | orderBy:orderProp">
  <div class="bookimg">
    <img src="{{book.src}}">
  </div>
  <dl>
    <dt class="pname">{{book.Name}}</dt>
    <dd>
      <div class="pname">{{book.Description}}</div>
      <div class="pname"><i>Price:</i> {{book.Price}}</div>
      <div class="btn-group bookbtn" role="group" aria-label="...">
        <button type="button" class="btn btn-info">Add Cart</button>
        <button type="button" class="btn btn-success">Buy</button>        
      </div>
    </dd>
  </dl>
  <div class="clearfix"></div>
</div>
